.navbar-project {
    padding:0px;
    margin:0px; 
    width:100%;
    position:fixed;
    z-index:50;
    padding: 2em 3em 2em 3em; 
    display: flex;
    align-items: center;
}

.project-links{
    color: #ffff;
    font-size: 3em;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; 

}





/* -----------------MEDIA QUERIES--------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .project-links{

        font-size: 1em;
        
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .project-links{
        font-size: 2em;
        
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .project-links{
        font-size: 3em;
        
    }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    

}