.skills-page{
    min-height: 60vh;
    padding: 0em 3em 0em 3em;

}

line {
    stroke-width: 1px;
    stroke-linecap: round;

  }

.skills-wrapper{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skills-container>ul> li , .skills-container> h3{
    color: #121212;
    font-size: 1.2rem;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    list-style: none; 
    text-align: justify;

}

.thumbs-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    
}