.skills-page{
    min-height: 60vh;
    padding: 0em 3em 0em 3em;

}

line {
    stroke-width: 1px;
    stroke-linecap: round;

  }

.skills-wrapper{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skills-container > span , .skills-container > h3{
    color: #121212;
    font-size: 1.2rem;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    list-style: none; 
    text-align: justify;
    text-transform: lowercase;

}

.thumbs-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    
}





/* -----------------MEDIA QUERIES--------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .skills-page{
        padding: 0em 2em 0em 2em;
    
    }

    .skills-wrapper{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    
    }
    
    .skills-container{
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
       
    
    }
    
    .skills-container > span , .skills-container > h3{
        
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
       
    
    }
    
    .thumbs-up-container {
       display: none;
        
    }

  

  
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .skills-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    
    }
    
    .skills-container{

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
       
    
    }
    
    .skills-container > span , .skills-container > h3{
        
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: left;
       
    
    }
    
    .thumbs-up-container {
       display: flex;
        
    }

   


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .skills-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    
    }
    
    .skills-container{
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
       
    
    }
    
    .skills-container > span , .skills-container > h3{
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
       
    
    }
    
    .thumbs-up-container {
       display: flex;
        
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .skills-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    
    }
    
    .skills-container{
        flex-direction: column;
        justify-content: center;
        align-items: left;
    
    }
    
    .skills-container > span  , .skills-container > h3{
        
        font-size: 1.2rem;  
        justify-content: left;
        align-items: left;
        background-color: blue;

    
    }
    

    .thumbs-up-container {
       display: flex;
        
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    


}


