.about-page{
    min-height: 90vh;
    padding: 0em 3em 0em 3em;
   
}

.section-one{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.grid-wrapper{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;

}


.about-container{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align:justify; 
    width:600px;
    height:500px;
   

}

.about-container > p , .section-one > p, .portrait-img-wrapper >p {
    color: #121212;
    font-size: 1.2rem;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif; 
    
}

.about-container > p> span{
    font-style: italic;
}

.section-one >p{
    text-transform: uppercase;    

}

.portrait-img-wrapper{ 
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.img{
    background-image: url('/src/assets/about/elin_bench_tokyo.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% ;
    width: 300px;
    height: 300px;  
   
}









/* -----------------MEDIA QUERIES--------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .grid-wrapper{
        flex-direction: column;

    }

    .about-container > p , .section-one > p, .portrait-img-wrapper >p {
        
        font-size: 1rem;
        
    }

    .about-container{
        width:300px;
        height:600px;

    }  

    .portrait-img-wrapper> p{
        font-size: 1.2rem;
        font-weight: 600;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    


}




