.about-page{
    min-height: 60vh;
    padding: 1em;
    display:flex;
    justify-content: space-evenly;
    
}

.about-container{
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:600px; 
    height:600px;
    background-color: goldenrod;
    padding:1;
    

}

.about-container > p  {
    color: #121212;
    font-size: 1.2rem;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;   
    
}

.div-hello{
    display: flex;
    background-color: blanchedalmond;
}





