.contact-page{
    min-height: 20vh;
    padding: 0em 3em 0em 3em;

}

.arrow-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkolivegreen; */
    /* padding-right: 5em; */
    color: #121212;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    line-height: 90%;
    letter-spacing: 0.08em;    
    font-weight: 600;
    margin:  0;
    /* width: calc(100% - 150px); */
    height: auto;
    text-transform: uppercase;
    font-style: italic;

}

.arrow-wrapper > svg{
    display:none;
}


.contact-container  {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #121212;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: 0.08em;    
    font-weight: 600;
    margin:  0;
    width: calc(100% - 150px);
    height: auto;
    text-transform: uppercase;
    font-style: italic;

}

.contact-arrow {
    width: 300px;
    height: 300px;
}



/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    .header-container{
        min-height: 5vh;
    }

    .contact-container{
        font-size: 1rem;
       
    }
    .arrow-wrapper{
       
       
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .arrow-wrapper > p{
        font-size: 1.2rem;
        width:none;
        font-family: 'Heebo', sans-serif;
        flex-direction: row;
        font-style:normal;

    }

    .arrow-wrapper > svg{
        display:flex;
    }

    .contact-arrow {
     display:none;


}

}



/* Extra small devices (phones, 480px and up) */
@media only screen and (max-width: 600px) {
    .header-container{
        min-height: 5vh;
    }

    .contact-container{
        font-size: 1rem;
        
    }

    .arrow-wrapper{
       
       
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .arrow-wrapper > p{
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
        

    }

    .arrow-wrapper > svg{
        display:flex;
    }

    .contact-arrow {
     display:none;


}

}
/* Extra small devices (phones, 480px and up) */
@media only screen and (max-width: 780px) {
    .header-container{
        min-height: 5vh;
    }

    .contact-container{
        font-size: 4rem;
        
    }

    .arrow-wrapper{
       
       
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .arrow-wrapper > p{
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
        line-height: 10%;
        

    }

    .arrow-wrapper > svg{
        display:flex;
    }

    .contact-arrow {
     display:none;


}

}

