.project01-page{
    min-height: 100vh;
    padding: 2em 3em 3em 3em;
    

 
}
.project02-page{
    min-height: 100vh;
    padding: 0em 3em 3em 3em;
   
}
.project03-page{
    min-height: 100vh;
}

/*  */

.project-header{
    width:100%;
    min-height: 20vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: #121212;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase; 
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    
    }
    
    .description-details { 
        grid-area: 1 / 1 / 2 / 2; 
        display:flex;
        flex-direction: column;
        /* border-top: 1px solid #121212; */
    
    }

    .description-section { 
        grid-area: 1 / 2 / 2 / 4; 
        display: flex;
        text-align: justify;
 
    }



.description-section >p , .description-details > p, .tech-stack > span, .tech-description > span, .img-grid-wrapper > span{
    color: #121212;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    text-align: justify;

}

.img-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-top: 50px;

    }
        
    .image-div { 
        display:flex;
        height:80vh;
        width:100%;
        justify-content: center;
    }
 
    .tech-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
   

        .tech-stack {        
            grid-area: 1 / 1 / 2 / 2; 
            display:flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: flex-start;

        }

        .tech-description  {

            grid-area: 1 / 2 / 2 / 4; 
            
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;  
            
        }


        
.next-project{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #121212;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    font-style: italic;
    text-transform: uppercase; 
        
}
        
 .next-project > svg{
    width:200px;
    height:200px

}

.next-project-links {
    color: #121212;
}

html{
    scroll-behavior: smooth;
}




/* -----------------MEDIA QUERIES--------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .project-header, .next-project{
        font-size: 2rem;
    }

    .project-header{
        padding-top: 2em;
    }

    .image-div { 
 
        height:20vh;
        width:100%;
       
    }

   
        
       

        .parent{
            grid-template-columns:1fr;
            grid-template-rows: repeat(2, 1fr);
            
        }

        .tech-stack{
            grid-area: 1 / 1 / 2 / 2; 
            align-items: flex-end;
            margin-bottom: 20px;
            
        }


        .tech-description {
            grid-area: 2 / 1 / 3 / 2; 
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
           
        }

        .description-details{
            grid-area: 1 / 1 / 2 / 2; 
            justify-content: flex-end;
            

        }

        .description-section{
            grid-area: 2 / 1 / 3 / 2; 
            justify-content: center;
            align-items: flex-start;

        }

        .description-section > p{
            font-size: 1rem;

        }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


        .parent{
            grid-template-columns:1fr;
            grid-template-rows: repeat(2, 1fr);
           
    
            
        }

        .image-div { 
 
            height:30vh;
            width:100%;
           
        }

        .tech-stack{
            grid-area: 1 / 1 / 2 / 2; 
            align-items: flex-end;
            margin-bottom: 20px;
            
        }


        .tech-description {
            grid-area: 2 / 1 / 3 / 2; 
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
           
        }

        .description-details{
            grid-area: 1 / 1 / 2 / 2; 
            justify-content: flex-end;
            

        }

        .description-section{
            grid-area: 2 / 1 / 3 / 2; 
            justify-content: center;
            align-items: flex-start;

        }

        .description-section > p{
            font-size: 1rem;

        }
   

    .project-header, .next-project{
        font-size: 3rem;
    }

  
       
        .tech-description > span {
            
            font-size: 1rem;
        }
        
 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .image-div { 
 
        height:55vh;
        width:100%;
       
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        
        }
        
        .description-details { 
            grid-area: 1 / 1 / 2 / 2; 
            display:flex;
            flex-direction: column;
            border-top: 1px solid #121212;
        
        }
    
        .description-section { 
            grid-area: 1 / 2 / 2 / 4; 
            display: flex;
            text-align: justify;
            
        }

        
                .tech-stack{
                    grid-area: 1 / 1 / 2 / 2; 
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
        
                }
        
                .tech-description{
                    grid-area: 1 / 2 / 2 / 4; 
                    width:100%;
                    min-height: 20vh;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
                    
                }
    
    

    .tech-description > span {
            
        font-size: 1.2rem;
    }

    .project-header, .next-project{
        font-size: 6rem;
    }

  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .image-div { 
 
        height:70vh;
        width:100%;
       
    }


 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .image-div { 
 
        height:80vh;
        width:100%;
       
    }

    

}