.header{
    min-height: 20vh;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-end;

}


.header-container{
    padding:5em;    
    width:300px; 
    display:flex;
    flex-flow: wrap;
}


.header-text{
    color: #121212;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 8.3rem;
    line-height: 80%;
    letter-spacing: -0.1em;    
    font-weight: 100;
    margin:  0 0px 0;
    width: calc(100% - 150px);
    height: auto;
    
    text-transform: uppercase;
    
}







    
    




