.header-container{
    min-height: 30vh;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-end; 
    padding:2em;
    
}


.header-text{
    font-family: 'Sora', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.6em;
    font-weight: 100;
    text-transform: uppercase;
    color: #121212;
    white-space: none; 
    
}


.header-text2{
    font-family: 'Sora', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.6em;
    font-weight: 100;
    text-transform: uppercase;
    color: #121212;
    white-space: none; 
}

