.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #F9F4EC;
    overflow: hidden;
  }
  .loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  

  .loader-wrap p {
    font-size: 7em;
    font-weight: 100;
    font-family: "inter";
    
  }
 
  .greeting{
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
  }

  .loader-bar{
    position: absolute;
    height: 5px;
    background-color: black;
    top: 50%;
    width: 100vw;
   
  }

  @keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }

  }

  


 
 


 





  /*  */
 
  @media screen and (max-width: 600px) {

    .loader-wrap{
        align-items: flex-start;
    }    
  }