
.navbar {
    width: 100%;
    height: 80px;
    color: #121212;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    display:flex;
    position: fixed;
    
}



.navbar .left-side button {
    display:none;
    margin-right: 20px;
    background-color: transparent;
    border:none;
    padding: 0em 0em 0em 3em; 

}

.navbar .left-side{
    flex:50%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar .left-side #hidden{
    display:flex;
   
}

.navbar .left-side .links a{
    max-height: 80px;
    font-size: 1em;
    padding: 0em 0em 0em 3em; 
    color: #121212;
    
}
.navbar .right-side span {
    max-height: 80px;
    font-size: 1em;
    padding: 0em 3em 0em 3em; 
}

.navbar .right-side{
    flex:50%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 80px;
    font-size: 1em;
    
}

/* .navbar .right-side #hidden{
    display:flex;
   
} */

/* ------ MEDIA QUERIES ------ */

@media only screen and (max-width:850px) {

    .navbar .left-side .links{
        font-size: 10px;

    }
    .navbar .right-side span{
        font-size: 10px;

    }


}



@media only screen and (max-width:650px) {

    .navbar{
        z-index:1;
    }

    .navbar .left-side button {
        display:flex;
        padding-left: 2.2em
    
    }

    .navbar .left-side .links{
        display:none;

    }

    .navbar .right-side span{
        font-size: 10px;
       

    }

    .navbar .left-side #hidden{
       position:absolute;
       left:0px;
       top:80px;
       height: 230px;
       width:100%;
       background-color: rgb(249, 244, 236);
       
       display: flex;
       flex-direction: column;
       align-items: flex-start;
     

    }

    .navbar .left-side #hidden a{
        margin:10px;
        font-size: 20px;
        

    }

    


}

