
.title-container{
    min-height: 10vh;
    padding:2em 0 0 2em;    
    display:flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
   
}

.title-text{
    color: #121212;
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    line-height: 90%;
    letter-spacing: 0.08em;    
    font-weight: 600;
    margin:  0;
    width: calc(100% - 150px);
    height: auto;
    text-transform: uppercase;
    font-style: italic;
    
}


.arrow-container{
    min-height: 30vh;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding:0em 10em 0 2em;
    
}


.arrow-container > svg{
    height:200px;
    width: 200px;
      
} 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .title-text{
        font-size: 3rem;
    }

    .arrow-container > svg{
        height:150px;
        width: 150px;
        
          
    } 

    .arrow-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0;
       
        
    }
    


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title-text{
        font-size: 2rem;
    }

    .arrow-container > svg{
        height:100px;
        width: 100px;
       
          
    } 

    .arrow-container{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
       
        
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .title-text{
        font-size: 5rem;
    }

    .arrow-container > svg{
        height:200px;
        width: 200px;
          
    } 

    .arrow-container{
        display: flex;
        justify-content: right;
        align-items: flex-start;
       
        
    }


}





