
.title-container{
    min-height: 15vh;
    padding:1em 2em 0 2em;    
    display:flex;
    flex-flow: wrap;
    justify-content: flex flex-start;
    align-items: flex-start;
    
   
}

.job-title-text{
    color: #121212;
    font-family: 'Inter', sans-serif;
    /* font-size: 6rem; */
    line-height: 90%;
    letter-spacing: - 0.1em;    
    font-weight: 600;
    margin:  0;
    width: calc(100% - 150px);
    height: auto;
    text-transform: uppercase;
    font-style: italic;


}



.arrow-container{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:0em 8em 0 2em;
    
}

.statement-div > p {
    color: #121212;
    font-family: 'Heebo', sans-serif;
    /* font-size: 1rem; */
    line-height: 90%;
    letter-spacing: - 0.1em;    
    /* font-weight: 600; */
    margin:  0;
    width: calc(100% - 150px);
    height: auto;
    text-transform: uppercase;
    font-style: italic;
    text-align: right;

}

.statement-div {
    height:200px;
    width: 600px;

}


.arrow-container > svg{
    height:200px;
    width: 200px;
      
} 

/* -----------------MEDIA QUERIES--------------- */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .job-title-text{
        font-size: 3rem;
    }

    .arrow-container{
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .job-title-text{
        font-size: 3rem;
    }

    .arrow-container{
        display:none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .job-title-text{
        font-size: 4rem;
    }

    .arrow-container{
        display:flex;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .job-title-text{
        font-size: 5rem;
    }

    .arrow-container{
        display:flex;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .job-title-text{
        font-size: 6rem;
    }

    .arrow-container{
        display:flex;
    }


}

 







