.work-page{
    min-height:100vh;
    padding: 0em 3em 0 3em;
    
}

.div-title > p {
    color: #121212;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase; 
}


.work-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
    }

.work-selection{
    display:flex;
    justify-content: space-between;
    /* animation: marquee 10s linear infinite; */
    
}



@keyframes marquee {
    0% {
      transform: translate(5%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.work-selection >p {
    color: #121212;
    font-size: 3rem;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif; 

}

.work-selection >span {
    color: #121212;
    letter-spacing: 0.2em; 
    font-family: 'Heebo', sans-serif; 
    text-align: justify;

}

.work-link{
    text-decoration: none;
}


/*  css for text to appear on hover */

.feature {
    overflow: hidden;
    position: relative;
    background-size: contain;
    
}


.feature:hover {
    opacity: 1;
    font-weight: 600;
    
}


.feature .feature-text {
    position:relative;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    height: 10vh;
    width: 40vh; 
  
}

.feature:hover .feature-text{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.4s;
}




  

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

    .work-page{
        min-height:60vh;
        padding: 0em 3em 0 3em;
        
    }


    .work-grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
        }


    .work-selection >p {
        font-size: 1.6rem;
       

    }

    .div-title > p {
        font-size: 1.2rem;
        
        
    }
    .div-title  {
        display: flex;
        flex-direction: column;
 
    }

    .feature-text{
        display:none;
    }

 
}

       


